<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>admin-area</display-name>
        <web-resource-collection>
            <web-resource-name>admin-area</web-resource-name>
            <description>Zona Administradores</description>
            <url-pattern>/faces/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admins should be allowed to access this resources</description>
            <role-name>webAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>doctor-area</display-name>
        <web-resource-collection>
            <web-resource-name>doctor-area</web-resource-name>
            <description>Zona Médicos</description>
            <url-pattern>/faces/doctor/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>médicos should be allowed to access this resources</description>
            <role-name>webDoctor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>sales-area</display-name>
        <web-resource-collection>
            <web-resource-name>sales-area</web-resource-name>
            <description>Zona Facturación</description>
            <url-pattern>/faces/sales/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>sales should be allowed to access this resources</description>
            <role-name>webSales</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>users-area</display-name>
        <web-resource-collection>
            <web-resource-name>users-areas</web-resource-name>
            <description>Zona Usuarios Genericos</description>
            <url-pattern>/faces/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>users should be allowed to access this resources</description>
            <role-name>webUser</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>veterinaria-realm</realm-name>
        <form-login-config>
            <form-login-page>/index.xhtml</form-login-page>
            <form-error-page>/index.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administradores</description>
        <role-name>webAdmin</role-name>
    </security-role>
    <security-role>
        <description>Médicos</description>
        <role-name>webDoctor</role-name>
    </security-role>
    <security-role>
        <description>Vendedores</description>
        <role-name>webSales</role-name>
    </security-role>
    <security-role>
        <description>Usuarios Genericos</description>
        <role-name>webUser</role-name>
    </security-role>
</web-app>
